* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 32px;
    font-size: 64px;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 128px;
}

#rock,
#paper,
#scissors { 
    font-size: 128px;
    border: none;
    background-color: white;
}

#rock:hover,
#paper:hover,
#scissors:hover { 
    cursor: pointer;
}

.div-cont {
    text-align: center;
    font-size: 32px;
}